/* Hide scrollbar for Chrome, Safari and Opera */
#tnc-dialog-desc::-webkit-scrollbar {
	display: block !important;
}

#tnc-dialog-title {
    background-color: #f2f2f2;
    padding: 16px 12px !important;
}
#tnc-dialog-title .MuiTypography-h6 {
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: Nunito !important;
    color: #212529 !important;
    text-align: center !important;
}
#tnc-dialog .MuiDialogContent-root {
    font-size: 14px !important;
    font-family: Nunito !important;
    color: #000 !important;
    padding: 3px 3px !important;
}

#tnc-dialog .MuiDialog-paper {
    margin: 12px !important;
}
.tnc-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: #5E5E5E;
    font-family: Nunito !important;
}

#tnc-dialog .MuiDialog-paperWidthSm {
    max-width: 500px !important;
}